body{
    background-color: black;
}

nav{
    color:white;
    display:flex;
    justify-content:center;
    font-size:44px;
    font-weight:900;
    padding:0px;
    margin:20px;

}

.title{
    color:white;
    background-color: rgb(55, 54, 54);
    text-align: center;
    padding:5px;
}

.settingsLable{
    flex:1;
}
.settingsValue{
    flex:2;
}

.settingsOption{
    display: flex; 

    background-color: rgb(32, 31, 31);
    padding:2% 5%;
}

.slider{
    color:white;
    float: left;
    width:28%;
}

.grid-container{
    display: flex; 
    float: left;

    background-color: gray;
    justify-content: center;

    display:grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);
    user-select: none;
}

.grid-item{
    border: 1px solid  rgba(211,211,211);;
    background-color: white;
}

.color-box{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.center-label {
    text-align: center;
}

